<h1>Inventory of Books</h1>
<a href="/books/create">Add a new book to your Inventory</a>

<table class="table table-striped table-hover">
    <thead>
        <th>Name</th>
        <th>Genre</th>
        <th>Audience Target</th>
        <th>Synopsis</th>
        <th>Date Published</th>
        <th>Price</th>
        {{!-- {{#if user}}
            <th class="text-center">Actions</th>
        {{/if}} --}}
    </thead>
    <tbody>
        {{#each bookslist}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.genre}}</td>
                <td>{{this.audiencetarget}}</td>
                <td>{{this.synopsis}}</td>
                <td>{{this.datepublished}}</td>
                <td>{{this.price}}</td>
                {{!-- {{#if ../user}} --}}
                    <td class="text-center">
                        <a href="/books/edit/{{this._id}}" title="Edit"><i class="fa-solid fa-pen-to-square"></i>Edit</a>
                        <a href="/books/delete/{{this._id}}" title="Delete" onclick="return confirmDelete();">
                            <i class="fa-solid fa-trash-can"></i>Delete
                        </a>                
                    </td>
                {{!-- {{/if}} --}}
            </tr>
        {{/each}}
    </tbody>
</table>